
.display-question-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    /* background-color: hsla(240, 67%, 94%, 0.843); */
}

.display-main-question {
    /* border: 2px solid; */
    max-width: 600px;
    margin-bottom: 50px;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.display-question {
    /* padding: 10px; */
    /* margin: 10px; */
    width: 475px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.display-author {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    font-weight: 600;
    font-size: medium;
}

#display-question-button{
    padding-top: 25px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 65px;
}
#display-save-button{
    padding-right: 20px;
}
.display-dates {
    margin-bottom: 10px;
}

#display-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.display-tags-display {
    display:flex;
    gap:10px;
    margin-top: 10px;
    font-size:small;

}

.display-tag{
    background-color: rgb(217, 217, 217);
  border-radius: 5%;
  padding: 5px;
  word-break: break-word;
}

.display-answers-containers {
    /* border: 2px solid; */
    margin: 0 30%;
    max-width: 100%;
    /* padding: 20px; */
    /* background-color: #f9f9f9; */
    border-radius: 5px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    /* background-color: rgb(196, 196, 196); */
}

.display-answers-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-answer-tile {
    /* background-color: #fff; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.display-answer-tile p {
    margin-bottom: 10px;
}

#display-user-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.display-write-answer {
    margin-top: 20px;
}

.display-write-answer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.display-texts{
    width: 100%;
    padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
}

.display-submit:hover {
    /* background-color: #1f9b0f; */
}

.display-submit{
    display: flex;
    margin-left: auto;
    font-size: 16px;

}

.display-submit-btn{
    padding-top: 10px;
}
.display-links a ,
.display-group-links a {
    padding: 0px 4px;
    text-decoration: none;
    cursor: pointer;

}

#display-can-click:hover{
    cursor: pointer;
    color: rgb(17, 17, 17);
}

#display-can-click:hover{
    cursor: pointer;
    color: rgb(61, 61, 61);
}
