header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a83737;
  color: #fff;
  padding: 10px;
}

.ask-logo {
  font-size: 24px;
  font-weight: bold;
}

.ask-about {
  display: flex;
  align-items: center;
}

.ask-about span {
  margin-right: 10px;
}

.ask-about input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.ask-about input::placeholder {
  color: #ccc;
}


.ask-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ask-question-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  /* overflow-y: auto; */

}

.ask-question-form h2 {
  text-align: center;
}

.ask-question-form label {
  display: block;
  font-weight: bold;
}

/* .question-form input[type="text"], */
.ask-question-form textarea {
  height: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}



.ask-tags {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  gap: 10px;
  overflow-y: auto;
  height: 400px;
}

.ask-tags h3 {
  text-align: center;
}

.ask-tags input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.ask-tags #ask-add-tag {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.ask-tags #ask-add-tag:hover {
  background-color: #45a049;
}

.ask-tags #ask-tag-list {
  list-style-type: none;
  padding: 0;
}

.ask-tags #ask-tag-list li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.ask-tags #ask-tag-list li:hover {
  background-color: #ddd;
}
