.home-all-questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 50px;

}

.home-question {
    border: 3px solid #ccc;
    padding: 40px;
    margin: 10px;
    width: 550px;
    /* background-color: #ede79b; */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
    border-radius: 2%;
}

.home-title{
    font-size: large;
}

.home-preview{
    font-weight: 400;
    font-size: medium;
    overflow: hidden;
}

.home-title {
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    display: inline;
}

.home-body {
    min-height: 600px;
    margin-top: 10px;
    word-wrap: break-word;
    height: fit-content;
}

.home-tags-display {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: hidden;

}
.home-tag{
    background-color: rgb(217, 217, 217);
  border-radius: 5%;
  padding: 5px;
  word-break: break-word;
}

.home-author {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    font-weight: 600;
    font-size: medium;
}

.home-date {
    margin-top: 10px;
}

.home-tags-container{
border: 1px solid #ccc;
width:20%;
position:absolute;
right:0;
height:75%;
}


.home-links a ,
.home-group-links a {
    padding: 0px 4px;
    text-decoration: none;
    cursor: pointer;

}

/* .footer{
    height: 100px;
    position: relative;
    padding-top: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041629;
    text-align: center;
    padding: 4px 8px 4px 8px;
    bottom:0;
    width:100%;
} */

.home-logo:hover{
    cursor: pointer;
}
.home-tagListItem{
    text-decoration: underline;
}
.home-tagListItem:hover{
    cursor: pointer;
}

.home-questionLink{
    color:black;
}

.home-questionLink:visited{
    color:black;
}

.home-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.home-popularity{
    position: absolute;
    min-height: 400px;
    width: 400px;
    border: 2px solid;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
}

.home-popularity-holder{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    padding-bottom: 25px;
}

.home-popularity-tile{
    margin: 0;
    padding: 5px;
    width: 90%;

}

.popularity-link{
    padding: 5px;
    margin: 0;
    font-weight: bold;
    border: 2px solid;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
}

.popularity-link:hover{
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.342);
}


.home-filter{
    position: fixed;
    top: 15%;
    right: 1%;
    padding: 5px;
    border: 5px solid;
    width: 235px;
    height: 450px;
    background-color: rgb(225, 225, 225);
    border-radius: 2rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
}

.home-filter-select{
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    background-color: white;
    column-gap: 500px;
}


.tagVisualFilter{
    display: flex;
}

.searchBarVisual{
    margin-right: 15%;
    display: flex;
    padding: 0;
    align-items: center;
    background-color: white;
    border: 1px solid;
    width:200px;
    color: black;
    font-size: 16px;
    column-gap: 5px;
}

.searchBar{
    border: none;
    width: 100%;
    font-size: 16px;
}

.searchBar:active{
    border: none;
}

.spinner{
    margin-top: 30px;
    font-size: 2rem;
    animation-name: spinner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes spinner{
    0%{
        scale:1.0;
        transform: rotate(0deg);
    }
    100%{
        scale:1.0;
        transform: rotate(720deg);
    }
}

.filter-drop-down{
    position: absolute;
    top: 23.2%;
    right: 22%;
    padding: 5px;
    /* border: 5px solid; */
    width: 235px;
    height: 300px;
    
    border-radius: 2rem;
    
    z-index: 3;
    display:flex;
    flex-direction:column;
    gap: 50px;
    box-sizing: border-box;
    justify-content: center;

    
  
}

/*before 1224*/
@media screen and (max-width:1374px){
    .home-popularity{
        display:none;
        z-index: 0;
    }
    .tag-drop-down{
        display:inline-block;
    }
    .home-filter{
        display:none;
    }
    .filter-by{
        display:inline-block;
    }
    .filter-drop-down{
        
    }

}

@media screen and (min-width: 1374px){
    .tag-drop-down{
        display:none;
    }
    .filter-by{
        display:none;
    }
    .filter-drop-down{
        display:none;
    }

}

.filter-by{
    position:relative;
    gap:5px;
    justify-content: center;
    align-items: center;
}

/* .search{
    position:sticky;
} */

.search{
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}




.filter-select{

    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    background-color: white;
    column-gap: 500px;
    /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342); */
    border: 1px solid lightgrey;
}