.sign-up-holder{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding:40px 0;
    min-height:500px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 65%;
    row-gap: 10px;
}


.errors{
    color:red;
}



#signup-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    /* width: 300px; */
    height: 40px;
    justify-self: center;
}

#signup-button:disabled{
    background-color: grey;
}

#signup-button:enabled:hover{
    cursor: pointer;
}

.last{
    padding-bottom: 20px;
}
