.signup {
    margin-left: 10px;
}

.login,
.signup {
    display: flex;
    align-items: center;
}
.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 50px;
}

.question {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.title{
    border: 1px solid #ccc;
}

.preview{
    border: 1px solid #ccc;


}


.question:hover{
    cursor: pointer
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.body {
    margin-top: 10px;
}

.tags {
    margin-top: 10px;
}

.author {
    margin-top: 10px;
}

.date {
    margin-top: 10px;
}

.tags-container{
border: 1px solid #ccc;
width:20%;
position:absolute;
right:0;
height:75%;
}


.links a ,
.group-links a {
    padding: 0px 4px;
    text-decoration: none;
    cursor: pointer;

}

.links-display{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.link-icons{
    font-size: 1.75rem;
}

.link-icons > a > *:hover{
    color: rgb(199, 199, 199);
}

.footer{
    min-height: 100px;
    position: relative;
    padding-top: 20px;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041629;
    text-align: center;
    padding: 4px 8px 4px 8px;
    bottom:0;
    width:100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo:hover{
    cursor: pointer;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer li {
  margin: 0 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* @media screen{
    .footer{
        position: absolute;
        bottom: 0px;
        color: red;
    }
} */
