@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;

}
body {
        margin: 0;
        padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}
.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.search {
    display: flex;
    align-items: center;
}

.search a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.search input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.answers{
    width: 600px;
margin-bottom: 50px;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answers{
    width: 600px;
margin-bottom: 50px;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



#answer-information {
    text-align: center;
    margin-bottom: 20px;
}

#answer-information h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#answer-information h3 {
    font-size: 20px;
    font-weight: bold;
}

.answer-contain {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.answer-contain span {
    font-size: 16px;
    margin-bottom: 10px;
}
