/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;


}
body {
        margin: 0;
        padding: 0;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    height: 87.5px;
    width: 250px;
    padding: 0;
    margin: 0;
}

.logoDiv:hover{
    /* border: solid 2px black; */
    cursor: pointer;
}

#logoPhoto {
    height: 100%;
    width: 100%;
}
