.profile-dropdown {
  position: absolute;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #c7c7c7;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 0px black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}



.search {
  display: flex;
  align-items: center;
}

.search p {
  padding-right: 10px;
}

.search input{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button,
.signup button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #041629;
  color: #fff;
  cursor: pointer;
}

.login button:hover,
.signup button:hover{
  cursor: pointer;
}

.signup {
  margin-left: 10px;
}

.login,
.signup {
  display: flex;
  align-items: center;
}

.nav-link{
  text-decoration: none;
  color:black;
}

.nav-link:hover{
  text-decoration: underline;
}

#logged-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#saves-creations{
  display: flex;
  column-gap: 30px;
  margin-right: 50px;
}


#profile{
  margin-left:auto;

  position:relative;
}
