@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/* *{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;

}
body {
        margin: 0;
        padding: 0;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.questions-container{
    width: 600px;
margin-bottom: 50px;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#questions-overview {
    text-align: center;
    margin-bottom: 20px;
}

#questions-overview h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#questions-overview h3 {
    font-size: 20px;
    font-weight: bold;
}

.question-tile {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}



.tile-tags-container{
    border: 1px solid #ccc;
}